<h1><small>United States Geological Survey - Magnitude 1.0+ Earthquakes, Past Hour</small></h1>
<small>Data fetched every 60 seconds.</small>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>Magnitude</th>
      <th>Location</th>
      <th>Depth</th>
      <th>Lat/Long</th>
    </tr>
  </thead>

  <tbody>
    <% feed.features.forEach(function(f) { %>
    <tr>
      <td><%= f.properties.time %></td>
      <td><%= f.properties.mag %></td>
      <td><%= f.properties.place %></td>
      <td><%= f.geometry.coordinates[2] + " Miles" %></td>
      <td><%= f.geometry.coordinates[0] + ", " + f.geometry.coordinates[1]%></td>
    </tr>
    <% }); %>
  </tbody>
</table>